<br>
<br>
<br>
<div class="Presentacion">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="./assets/img/logoFilmStars2.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Filmstar</h5>
                    <p class="card-text">
                        Descubre el poder del séptimo arte y adéntrate en un universo cinematográfico sin límites,
                        donde las emociones cobran vida y los sueños se hacen película.</p>
                    <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- Card Camila -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="./assets/img/contacto/Camila Morales.png" style="width: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Consultora Full Stack</p>
                <h5 class="card-title" style="color: rgb(137, 194, 240)"> Maria Camila Morales Galeano</h5>
                <p class="card-text">Soy estudiante de ingeniera de software con experiencia en el desarrollo de
                    aplicaciones
                    y sistemas, lo que me ha proporcionado una sólida base teórica y práctica en el diseño y desarrollo
                    de
                    software.
                    Poseo habilidades técnicas especializadas en Java, Spring Framework, Angular, Apache NiFi, Apache
                    Flink y
                    Apache Airflows.</p>
                <p class="card-text">📍 Bogota </p>
                <p class="card-text">📫 mcamilamorales@ucompensar.edu.co </p>
                <p class="card-text">📞 (601) 432324 </p>
            </div>
        </div>
    </div>
    <!-- Card Lina -->
    <div class="col">
        <div class="card">
            <img src="./assets/img/contacto/lina.jpeg" style="width: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Analista de Calidad</p>
                <h5 class="card-title" style="color: rgb(137, 194, 240)">Lina Marcela Garzon Toro</h5>
                <p class="card-text">Estudiante de ingeneria de software, desempeñandome como Analista de calidad,
                    enfrentandome a un servicio financiero y realizando
                    auditorias sobre la "ISO 91000".</p>
                <p class="card-text">📍 Manizales </p>
                <p class="card-text">📫 linamgarzon@ucompensar.edu.co </p>
                <p class="card-text">📞 (606) 346543</p>
            </div>
        </div>
    </div>
    <!-- Card Santiago -->
    <div class="col">
        <div class="card">
            <img src="./assets/img/contacto/santiago.jpg" style="width: 300px;" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Auxiliar de Seguridad de la Información</p>
                <h5 class="card-title" style="color: rgb(137, 194, 240)">Santiago Andres Diaz Medina</h5>
                <p class="card-text">Estudiante de ingenieria de software, desempeñandome como Auxiliar de Seguridad de
                    la
                    Información
                    Teniendo conocimientos dentro de la norma ISO "27001" y conocimientos en desarrollo web y
                    aplicaciones en
                    software.</p>
                <p class="card-text">📍 Bogota </p>
                <p class="card-text">📫 sandresdiaz@ucompensar.edu.co </p>
                <p class="card-text">📞 (601) 984554 </p>
            </div>
        </div>
    </div>

    <div class="container">
        <form class="row g-3 mt-3">
            <div class="col-6">
                <label for="emailinput" class="form-label" style="color:white">Email </label>
                <input type="email" class="form-control" id="emailinput" placeholder="Escribe tu email">
            </div>

            <div class="col-6">
                <label for="inputpass" class="form-label" style="color:white">Contraseña </label>
                <input type="text" class="form-control" id="inputpass" placeholder="Escribe tu Contraseña">
            </div>

            <div class="col-6">
                <label for="inputaddress" class="form-label" style="color:white">Dirección </label>
                <input type="text" class="form-control" id="inputaddress" placeholder="Escribe tu Dirección">
            </div>

            <div class="col-6">
                <label for="cityinput" class="form-label" style="color:white">Ciudad </label>
                <input type="text" class="form-control" id="cityinput" placeholder="Escribe tu Ciudad">
            </div>

            <div class="col-6">
                <label for="countryinput" class="form-label" style="color:white">País </label>
                <input type="text" class="form-control" id="countryinput" placeholder="País">
            </div>

            <div class="col-6">
                <label for="phoneinput" class="form-label" style="color:white">Número de Celular </label>
                <input type="text" class="form-control" id="phoneinput" placeholder="Celular">
            </div>

            <div class="col-lg-20">
                <label for="Agregar Comentarios" class="form-label" style="color:white">Comentarios</label>
                <textarea class="form-control" id="Agregar Comentarios" rows="3"></textarea>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <label for="check" class="form-check-label" style="color:white">Acepto los términos </label>
                    <input type="checkbox" class="form-check-input" id="check" placeholder="Celular">
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    Enviar
                </button>

            </div>
        </form>
    </div>

</div>
<br>
<br>
<br>
<br>

<div class="tarjeta">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="./assets/img/logoFilmStars2.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Información General</h5>
                    <p class="card-text">
                        Celular: 312 147 45 45</p>
                    <p class="card-text">
                        Servicioalcliente@FilmStars.com</p>
                    <p class="card-text">📍 Bogota </p>
                </div>
            </div>
        </div>
    </div>
</div>