<div>
    <header>
        <!-- Navbar -->
        <nav class="navbar  justify-content-between p-3">
            <a routerLink="movies">
                <img src="./assets/img/logoFilmStars2.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
            </a>
            <form class="d-flex">

                <a routerLink="contact">
                    <button class="btn btn-outline-primary pmy-2 my-sm-0" type="submit"
                    id="button-search">Contactanos</button>
                </a>

                <!-- Dropdown Filters -->
                <div class="dropdown ms-5 me-4 ">
                    <select [(ngModel)]="opcionSeleccionado" (change)="getOptionFilter()" name="select" class="btn btn-secondary dropdown-toggle fw-bold" type="button"
                        id="dropdownMenuButton2">
                        <option value="value0" selected>Filtros</option>
                        <option value="a-z">A - Z</option>
                        <option value="antiguas">Mas antiguas</option>
                        <option value="recientes">Mas recientes</option>
                        <option value="puntaje">Más popular</option>
                    </select>
                </div>

                <!-- Search -->
                <input [(ngModel)]="movie" (change)="searchMovie()" name="input" class="form-control me-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    id="box-search">
                <button class="btn btn-outline-success pmy-2 my-sm-0" type="submit"
                    id="button-search">Search</button>
            </form>
        </nav>

    </header>
</div>
