<div>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-dark bg-dark justify-content-between p-3">
            <a routerLink="movies">
                <img src="img/popcorn.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
                FilmStars
            </a>
            <form class="d-flex">

                <!-- Dropdown Filters -->
                <div class="dropdown ms-5 me-4 ">
                    <select name="select" class="btn btn-secondary dropdown-toggle fw-bold" type="button"
                        id="dropdownMenuButton2" onchange="ShowSelected();">
                        <option value="value0" selected>Filtros</option>
                        <option value="a-z">A - Z</option>
                        <option value="antiguas">Mas antiguas</option>
                        <option value="recientes">Mas recientes</option>
                        <option value="puntaje">Más popular</option>
                    </select>
                </div>

                <!-- Search -->
                <input class="form-control me-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    id="box-search">
                <button class="btn btn-outline-success pmy-2 my-sm-0" type="submit"
                    id="button-search">Search</button>
            </form>
        </nav>

    </header>
</div>
